# Виртуальное окружение Python (блокируем полностью)
.venv/
venv/
env/
ENV/

# Локальные секреты и переменные окружения (пароли, ключи)
.env
.env.local

# Базы данных (исключаем файлы локальных БД, чтобы не засорять репозиторий)
*.db
*.sqlite3

# Кэш Python и временные файлы компиляции
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Настройки сред разработки (PyCharm / VS Code)
.idea/
.vscode/

# Системные файлы операционных систем
.DS_Store
Thumbs.db

# Alembic
alembic.ini